<%- include("partials/header") %>
 
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Search Oscar Movies
            <span class="icon">
              <i class="fas fa-film"></i>
            </span>
          </h1>
        </div>
      </div>
    </section>
	 <div class="container">
		<input type = "text" placeholder = "title">	
		 
	 </div>
		
  
     
 

<%- include("partials/footer") %>